version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:6
    container_name: redis
    ports:
      - '6379:6379'

volumes:
  mongo_data:
