<!DOCTYPE html>
<html>
<head>
  <title>Account Creation Notification</title>
</head>
<body>
  <h1>Welcome to Our Platform</h1>
  <p>Dear {{username}},</p>
  <p>You have been registered on our platform. You are now eligible to create your account.</p>
  <p>Your one-time password (OTP) is: <strong>{{otp}}</strong></p>
  <p>Please click the link below to complete your account creation:</p>
  <a href="{{accountCreationLink}}">Create your account</a>
  <p>This OTP is valid for {{otpExpirationTime}} minutes.</p>
  <p>Thank you,<br>The Team</p>
</body>
</html>
