<!DOCTYPE html>
<html>
<head>
  <title>Account Setup</title>
</head>
<body>
  <h1>Account Setup</h1>

  <p>Thank you for setting up your account. Please use the following OTP to complete your setup:</p>
  <p><strong>{{otp}}</strong></p>
  <p>This one time password will expire in {{otpExpiry}} minutes.</p>

  <p>Thank you,<br>RDCP Team</p>
</body>
</html>
