<!DOCTYPE html>
<html>
<head>
  <title>Multiple Failed Login Attempts</title>
</head>
<body>
  <h1>Security Alert: Failed Login Attempts</h1>
  <p>Dear {{username}},</p>
  <p>We have noticed multiple failed login attempts to your account. For security, we recommend resetting your password immediately.</p>
  <a href="{{passwordResetLink}}">Reset Password</a>
  <p>If you did not attempt to log in, please reset your password and contact support to secure your account.</p>
  <p>Thank you,<br>The Team</p>
</body>
</html>
