<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
</head>
<body>
  <h1>Password Reset Request</h1>
  <p>Dear {{username}},</p>
  <p>We received a request to reset your password. Please click the link below to set a new password:</p>
  <a href="{{passwordResetLink}}">Reset Password</a>
  <p>For security, make sure your new password meets the following criteria:</p>
  <ul>
    <li>At least 8 characters</li>
    <li>Contains both uppercase and lowercase letters</li>
    <li>Includes numbers and special characters</li>
  </ul>
  <p>This link will expire in {{resetLinkExpirationTime}} minutes.</p>
  <p>If you did not request a password reset, please ignore this email or contact support immediately.</p>
  <p>Thank you,<br>The Team</p>
</body>
</html>
